<div class="container">
  <div class="row first">
    <div class="col-11">
      <h1>User List</h1>
    </div>
    <div class="col-1 button">
      <button mat-fab id="create" (click)="goCreate()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row">{{row.userId}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="DocType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Type </th>
        <td mat-cell *matCellDef="let row">{{row.doctype}}</td>
      </ng-container>

      <ng-container matColumnDef="docnum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Document # </th>
        <td mat-cell *matCellDef="let row">{{row.docNum}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td mat-cell *matCellDef="let row">{{row.tel}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-mini-fab color="warn" type="submit" (click)="onDelete(row.userId)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab color="accent" (click)="goUpdate(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>
