table {
  width: 100%;

  border-radius: 20%;
}

.container .row{
  margin-top: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8{
  width: 100%;
}

tr:nth-child(even){
  background-color: rgb(242, 253, 255);
}

tr td button{
  margin: 5px;
}

tr td button:hover{
  margin: 5px;
  transform: rotate(190deg);
  transition: all 0.5s;
}

th{
  background-color: #673AB7;
  color: white;
}

tr:hover{
  background-color: rgb(173, 195, 199);
  transition: all 0.7s;
}

.row .button #create{
  background-color: dodgerblue;
  color: white;

}

.container .first{
  margin-top: 20px;
  margin-bottom: 0px;
}

.row h1{
  font-size: 3em;
  margin-top: 10px;
}
