<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #673AB7;">
  <button style="margin-left: 10px;" mat-fab color="primary" id="create" (click)="back()">
    <mat-icon>home</mat-icon>
  </button>
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item">
              </li>
              <li class="nav-item">
              </li>
          </ul>
      </div>
  </div>
</nav>
