<div class="container">
  <div class="row justify-content-center">
    <div class="col-7 mt-5 form" style="background-color: rgb(255, 255, 255);">
      <h1>{{tittle}} User</h1>
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label>Name</label>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Name</mat-label>
            <input  name="name" [(ngModel)]="name" matInput required formControlName="name">
          </mat-form-field>
        </div>

        <br>
        <div class="form-group">
          <label>Document Type</label>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="doctype" name="doctype" required formControlName="doctype">
              <mat-option value="Cedula">Cedula</mat-option>
              <mat-option value="Cedula extranjeria">Cedula extranjeria</mat-option>
              <mat-option value="NIUP">NIUP</mat-option>
              <mat-option value="Tarjeta de identidad">Tarjeta de identidad</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>
        <div class="form-group">
        <label>Document Number</label>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Document number</mat-label>
            <input type="number"  name="docNum" [(ngModel)]="docNum" matInput required formControlName="docNum">
          </mat-form-field>
        </div>
        <br>
        <div class="form-group">
        <label>Phone</label>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Phone</mat-label>
            <input type="number"   name="tel" [(ngModel)]="tel" matInput required formControlName="tel">
          </mat-form-field>
        </div>
        <br>
        <div class="form-group">
        <label>Email</label>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput  name="email" type="email" [(ngModel)]="email" required formControlName="email">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary"   (click)="back()">Back</button>
        <button mat-raised-button color="warn" [disabled]="registerForm.invalid" (click)="action()">{{tittle}}</button>
      </form>
    </div>
  </div>
</div>
