.form{
  border-radius: 20px;
  color: #382161;
}

.form h1{
  margin: 10px;

}

.form label{
  font-size: 1.3em;
}

form button{
  margin: 5px;
  margin-bottom: 20px;
}

.form .form-field{
  width: 100%;
}
